@import "~bootstrap/scss/bootstrap";
body {
    background-color: #111;
    color: whitesmoke;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.bunny.net/figtree/files/figtree-latin-ext-400-normal.woff2)
            format("woff2"),
        url(https://fonts.bunny.net/figtree/files/figtree-latin-ext-400-normal.woff)
            format("woff");
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
        U+2C60-2C7F, U+A720-A7FF;
}
// scroll-bar edit
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

i {
    font-size: 30px;
}
